<!DOCTYPE html>
<html>
<head>
	<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../static/error.css" />
        <title>ERROR</title>
    </head>
</head>
<body>
	<div class="container">
		<h1>Error code {{.ErrorCode}}</h1>
		<p>{{.ErrorText}}</p>
        <a href="/">
            <button>Go to home page</button>
        </a>
	</div>
</body>
</html>